endpoints/courses-response.xsd

<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ewp="https://github.com/erasmus-without-paper/ewp-specs-architecture/blob/stable-v1/common-types.xsd"
    xmlns:trm="https://github.com/erasmus-without-paper/ewp-specs-types-academic-term/tree/stable-v2"
    elementFormDefault="qualified"

    targetNamespace="https://github.com/erasmus-without-paper/ewp-specs-api-courses/tree/stable-v1"
    xmlns="https://github.com/erasmus-without-paper/ewp-specs-api-courses/tree/stable-v1"
>
    <xs:import
        schemaLocation="https://raw.githubusercontent.com/erasmus-without-paper/ewp-specs-architecture/stable-v1/common-types.xsd"
        namespace="https://github.com/erasmus-without-paper/ewp-specs-architecture/blob/stable-v1/common-types.xsd"
    />

    <xs:import
        schemaLocation="https://raw.githubusercontent.com/erasmus-without-paper/ewp-specs-types-academic-term/stable-v2/schema.xsd"
        namespace="https://github.com/erasmus-without-paper/ewp-specs-types-academic-term/tree/stable-v2"
    />

    <xs:annotation>
        <xs:documentation>
            This schema is a part of the Erasmus Without Paper project. Before you start
            using it, make sure you have read the general rules described here:

            https://developers.erasmuswithoutpaper.eu/
        </xs:documentation>
    </xs:annotation>

    <xs:element name="courses-response">
        <xs:annotation>
            <xs:documentation>
                This describes the format of the response returned by the `courses` endpoint of EWP Courses API.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="course" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            This represents a single course.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="los-id" type="LosID">
                                <xs:annotation>
                                    <xs:documentation>
                                        Unique identifier of this course (LOS). It SHOULD NOT be displayed to the user (use
                                        `los-code` for that).

                                        Read an introduction on LOS IDs here:
                                        https://github.com/erasmus-without-paper/ewp-specs-api-courses#unique-identifiers

                                        Server implementers MUST use immutable surrogate keys for their work with EWP
                                        (we recommend choosing UUID surrogate keys). You can read about this here:
                                        https://github.com/erasmus-without-paper/ewp-specs-architecture#ids
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="title" type="ewp:StringWithOptionalLang" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        The name(s) of the course.
                                        You MUST provide at least one name, preferably in English.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="los-code" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>
                                        Since LOS IDs should be surrogate identifiers (and, as such, should not be
                                        displayed to the user), we allow additional "human-readable" unique codes (aka
                                        "natural identifiers") to be provided here. These codes MAY be displayed to the
                                        user along the course title, but they are *not used* to identify entities in EWP
                                        network.

                                        Related links:
                                        https://github.com/erasmus-without-paper/ewp-specs-architecture#ids
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element ref="ewp:ects">
                                <xs:annotation>
                                    <xs:documentation>
                                        Number of ECTS credits which the student should achieve by completing
                                        this course.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element ref="ewp:language-of-instruction" maxOccurs="unbounded"/>
                            <xs:element ref="ewp:last-modified"/>
                            <xs:element ref="ewp:description" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element ref="ewp:learning-outcomes" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="term-id" type="trm:TermId" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Describes the term in which the course takes place.

                                        Multiple values are allowed to support courses delivered
                                        in more than one term throughout an academic year.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element ref="elm-assessment-type" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element ref="elm-learning-activity-type" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element ref="elm-learning-opportunity-type" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element ref="elm-mode-of-learning" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="isced-f-code" type="ewp:IscedFCode" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="local-classification" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        A local (national or other) classification system for fields of study,
                                        followed by the applicable value (or code) in that system.

                                        Multiple values are allowed to support multidisciplinary courses.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="classification-system" type="xs:string"/>
                                        <xs:element name="classification-value" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="restricted-to-local-students" type="xs:boolean" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        Return true when the course is restricted to students enrolled at this Institution.

                                        Unless explicitly stated, client implementations should assume this as false.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="restricted-to-alliance-students" type="xs:boolean" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        Return true when the course is restricted to students
                                        enrolled at a partner Institution in the same University Alliance.

                                        Unless explicitly stated, client implementations should assume this as false.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element ref="ewp:url" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="deprecated" type="xs:boolean" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        Return true when the course will no longer be delivered,
                                        or there is no expectation that it will be delivered in the foreseeable future.

                                        Unless explicitly stated, client implementations should assume this as false.

                                        *Deprecate, do not delete!*

                                        Institutions MUST keep a permanent record of all courses ever delivered
                                        so that they may be referenced from course instances.

                                        Servers MUST omit deprecated courses from the course index
                                        (unless `include_deprecated` is used as a parameter).
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="prerequisite-los-id" type="ewp:AsciiPrintableIdentifier"
                                        minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Identifier of a course that must be completed before enrollment to this course is allowed.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="related-programme-id" type="ewp:AsciiPrintableIdentifier"
                                        minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Identifier of a programme which includes the present course in its curricular plan.

                                        See EWP Programmes API for more details.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="LosID">
        <xs:annotation>
            <xs:documentation>
                Unique local identifier of Learning Opportunity Specification. These IDs take
                a form of a "Type/X" string, where "Type" is a short code of the LOS'es type, and
                "X" is the internal surrogate key of the LOS, as exposed by the owner HEI
                (preferably a UUID, but any other values are also permitted).

                Read a detailed introduction here:
                https://github.com/erasmus-without-paper/ewp-specs-api-courses#unique-identifiers
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="ewp:AsciiPrintableIdentifier">
            <xs:pattern value="CR/(.{1,40})">
                <xs:annotation>
                    <xs:documentation>
                        The actual internal ID of the LOS entity MUST be prefixed with one of the
                        following strings:

                        — "CR/" – if it is a "Course" type LOS.

                        More prefixes MAY be introduced in the future. Clients SHOULD expect that (e.g.
                        they should accept unknown prefixes and behave as if the referenced entity did
                        not exist).
                    </xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="elm-assessment-type">
        <xs:annotation>
            <xs:documentation>
                Assessment type as defined in the European Learning Model (ELM).

                https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://data.europa.eu/snb/assessment/25831c2
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="de4d165a6c">
                    <xs:annotation>
                        <xs:documentation>artefact assessment</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="3484bd7e51">
                    <xs:annotation>
                        <xs:documentation>continuous evaluation</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="56539a6507">
                    <xs:annotation>
                        <xs:documentation>group performance</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="c_4f874951">
                    <xs:annotation>
                        <xs:documentation>Guided self-assessment</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="7331eb4762">
                    <xs:annotation>
                        <xs:documentation>level of attendance</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="2939dae15f">
                    <xs:annotation>
                        <xs:documentation>marked assignment</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="d30284d7df">
                    <xs:annotation>
                        <xs:documentation>oral examination</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="19a2e5e671">
                    <xs:annotation>
                        <xs:documentation>peer assessment</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="812e3b0ae1">
                    <xs:annotation>
                        <xs:documentation>peer review</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="4f03b91c0e">
                    <xs:annotation>
                        <xs:documentation>portfolio</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="6a4db9f11d">
                    <xs:annotation>
                        <xs:documentation>practical assessment</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="c_04b30a72">
                    <xs:annotation>
                        <xs:documentation>Presentation</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="c4256a2726">
                    <xs:annotation>
                        <xs:documentation>problem based learning</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="795dac4096">
                    <xs:annotation>
                        <xs:documentation>project work</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="b1b68f6735">
                    <xs:annotation>
                        <xs:documentation>quiz</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="c_2b3bd410">
                    <xs:annotation>
                        <xs:documentation>Self-assessment</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="6e6cb2cc78">
                    <xs:annotation>
                        <xs:documentation>written examination</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="elm-learning-activity-type">
        <xs:annotation>
            <xs:documentation>
                Learning activity type as defined in the European Learning Model (ELM).

                https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://data.europa.eu/snb/learning-activity/25831c2
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="d46a826a39">
                    <xs:annotation>
                        <xs:documentation>apprenticeship</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="ff436ea7c9">
                    <xs:annotation>
                        <xs:documentation>classroom coursework</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="bf2e3a7bae">
                    <xs:annotation>
                        <xs:documentation>e-learning coursework</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="fd33e234ae">
                    <xs:annotation>
                        <xs:documentation>educational programme</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="bf5588ff84">
                    <xs:annotation>
                        <xs:documentation>internship</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="4357e0e681">
                    <xs:annotation>
                        <xs:documentation>job experience</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="3c8bd58d62">
                    <xs:annotation>
                        <xs:documentation>lab / simulation / practice coursework</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="c_5665a0ad">
                    <xs:annotation>
                        <xs:documentation>mentoring and monitoring activity</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="a7e556215a">
                    <xs:annotation>
                        <xs:documentation>research</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="b660f5dcea">
                    <xs:annotation>
                        <xs:documentation>self-motivated study</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="59eaf34fab">
                    <xs:annotation>
                        <xs:documentation>volunteering</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="efff75e10a">
                    <xs:annotation>
                        <xs:documentation>workshop, seminar or conference</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="elm-learning-opportunity-type">
        <xs:annotation>
            <xs:documentation>
                Learning opportunity type as defined in the European Learning Model (ELM)
                but limited to the items in the controlled vocabulary that may apply to Courses.

                https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://data.europa.eu/snb/learning-opportunity/25831c2
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="63f9f6180c">
                    <xs:annotation>
                        <xs:documentation>Apprenticeship</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="c_170b037d">
                    <xs:annotation>
                        <xs:documentation>Challenge</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="7e1ac538db">
                    <xs:annotation>
                        <xs:documentation>Class</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="05053c1cbe">
                    <xs:annotation>
                        <xs:documentation>Course</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="77b99de990">
                    <xs:annotation>
                        <xs:documentation>Internship</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="17744a2647">
                    <xs:annotation>
                        <xs:documentation>MOOC</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="11252a5207">
                    <xs:annotation>
                        <xs:documentation>Mentoring</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="8b965da2d4">
                    <xs:annotation>
                        <xs:documentation>Service learning</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="65a4cf5de2">
                    <xs:annotation>
                        <xs:documentation>Study visit</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="b2434ca358">
                    <xs:annotation>
                        <xs:documentation>Thesis</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="elm-mode-of-learning">
        <xs:annotation>
            <xs:documentation>
                Mode of learning and assessment as defined in the European Learning Model (ELM).

                https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://data.europa.eu/snb/learning-assessment/25831c2
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="e92d221e4d">
                    <xs:annotation>
                        <xs:documentation>Blended</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="c_3a90b26d">
                    <xs:annotation>
                        <xs:documentation>Hybrid</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="920fbb3cbe">
                    <xs:annotation>
                        <xs:documentation>Online</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="9191af2ed9">
                    <xs:annotation>
                        <xs:documentation>Presential</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="7813801c77">
                    <xs:annotation>
                        <xs:documentation>Project based</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="ed4c557045">
                    <xs:annotation>
                        <xs:documentation>Research-Lab based</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="729f3bed4b">
                    <xs:annotation>
                        <xs:documentation>Workbased</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
</xs:schema>