endpoints/courses-response.xsd

<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ewp="https://github.com/erasmus-without-paper/ewp-specs-architecture/blob/stable-v1/common-types.xsd"
    xmlns:trm="https://github.com/erasmus-without-paper/ewp-specs-types-academic-term/tree/stable-v2"
    elementFormDefault="qualified"

    targetNamespace="https://github.com/erasmus-without-paper/ewp-specs-api-courses/tree/stable-v1"
    xmlns="https://github.com/erasmus-without-paper/ewp-specs-api-courses/tree/stable-v1"
>
    <xs:import
        schemaLocation="https://raw.githubusercontent.com/erasmus-without-paper/ewp-specs-architecture/stable-v1/common-types.xsd"
        namespace="https://github.com/erasmus-without-paper/ewp-specs-architecture/blob/stable-v1/common-types.xsd"
    />

    <xs:import
        schemaLocation="https://raw.githubusercontent.com/erasmus-without-paper/ewp-specs-types-academic-term/stable-v2/schema.xsd"
        namespace="https://github.com/erasmus-without-paper/ewp-specs-types-academic-term/tree/stable-v2"
    />

    <xs:annotation>
        <xs:documentation>
            This schema is a part of the Erasmus Without Paper project. Before you start
            using it, make sure you have read the general rules described here:

            https://developers.erasmuswithoutpaper.eu/
        </xs:documentation>
    </xs:annotation>

    <xs:element name="courses-response">
        <xs:annotation>
            <xs:documentation>
                This describes the format of the response returned by the `courses` endpoint of EWP Courses API.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="course" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            This represents a single course.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="los-id" type="LosID">
                                <xs:annotation>
                                    <xs:documentation>
                                        Unique identifier of this course (LOS). It SHOULD NOT be displayed to the user (use
                                        `los-code` for that).

                                        Read an introduction on LOS IDs here:
                                        https://github.com/erasmus-without-paper/ewp-specs-api-courses#unique-identifiers

                                        Server implementers MUST use immutable surrogate keys for their work with EWP
                                        (we recommend choosing UUID surrogate keys). You can read about this here:
                                        https://github.com/erasmus-without-paper/ewp-specs-architecture#ids
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="title" type="ewp:StringWithOptionalLang" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        The name(s) of the course.
                                        You MUST provide at least one name, preferably in English.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="los-code" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>
                                        Since LOS IDs should be surrogate identifiers (and, as such, should not be
                                        displayed to the user), we allow additional "human-readable" unique codes (aka
                                        "natural identifiers") to be provided here. These codes MAY be displayed to the
                                        user along the course title, but they are *not used* to identify entities in EWP
                                        network.

                                        Related links:
                                        https://github.com/erasmus-without-paper/ewp-specs-architecture#ids
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element ref="ects"/>
                            <xs:element ref="language-of-instruction" maxOccurs="unbounded"/>
                            <xs:element ref="last-modified"/>
                            <xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element ref="learning-outcomes" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="term-id" type="trm:TermId" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Describes the term in which the course takes place.

                                        Multiple values are allowed to support courses delivered
                                        in more than one term throughout an academic year.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element ref="elm-assessment-type" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element ref="elm-learning-activity-type" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element ref="elm-learning-opportunity-type" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element ref="elm-mode-of-learning" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element ref="isced-code" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="local-classification" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        A local (national or other) classification system for fields of study,
                                        followed by the applicable value (or code) in that system.

                                        Multiple values are allowed to support multidisplinary courses.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="classification-system" type="xs:string"/>
                                        <xs:element name="classification-value" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="restricted-to-local-students" type="xs:boolean" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        Return true when the course is restricted to students enrolled at this Institution.

                                        Unless explicitly stated, client implementations should assume this as false.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="restricted-to-alliance-students" type="xs:boolean" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        Return true when the course is restricted to students
                                        enrolled at a partner Institution in the same University Alliance.

                                        Unless explicitly stated, client implementations should assume this as false.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element ref="url" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="deprecated" type="xs:boolean" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        Return true when the course will no longer be delivered,
                                        or there is no expectation that it will be delivered in the foreseeable future.

                                        Unless explicitly stated, client implementations should assume this as false.

                                        *Deprecate, do not delete!*

                                        Institutions MUST keep a permanent record of all courses ever delivered
                                        so that they may be referenced from course instances.

                                        Servers MUST omit deprecated courses from the course index
                                        (unless `include_deprecated` is used as a parameter).
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="prerequisite-los-id" type="ewp:AsciiPrintableIdentifier"
                                        minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Identifier of a course that must be completed before enrollment to this course is allowed.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="related-programme-id" type="ewp:AsciiPrintableIdentifier"
                                        minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Identifier of a programme which includes the present course in its curricular plan.

                                        See EWP Programmes API for more details.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ects" type="xs:decimal">
        <xs:annotation>
            <xs:documentation>
                Number of ECTS credits which the student should achieve by completing
                this course.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="language-of-instruction" type="xs:language">
        <xs:annotation>
            <xs:documentation>
                An BCP 47 code of the language which has been used
                as the primary language of teaching during the classes.
                E.g. "pl" if the course is instructed/conducted in Polish.

                Language tags allow specifying languages and their variations.

                Examples:
                — `el` for Greek;
                — `el-Latn` for Greek in the Latin script;
                — `el-CY` for Cypriot Greek;
                — `el-Latn-CY` for Cypriot Greek in the Latin script.

                References:
                — Current specification – https://www.rfc-editor.org/info/bcp47
                — Language subtag registry – https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="last-modified" type="xs:dateTime">
        <xs:annotation>
            <xs:documentation>
                Time of the last change to this course.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="description" type="ewp:MultilineStringWithOptionalLang">
        <xs:annotation>
            <xs:documentation>
                Description with an optional language code.

                This field MAY be displayed to the user, but it might be better to refer the
                user to a more "user-friendly" web page instead (the one given in the `url`).
                The primary purpose of the description field is to provide
                keywords for full-text searching. Server implementers are encouraged to provide
                as many types of information as they like here, but this information should
                still be divided in meaningful paragraphs and be human-readable.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="learning-outcomes" type="ewp:MultilineStringWithOptionalLang">
        <xs:annotation>
            <xs:documentation>
                Learning outcomes with optional language code.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="elm-assessment-type" type="xs:string">
        <xs:annotation>
            <xs:documentation>
                Assessment type as defined in the European Learning Model (ELM).

                https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://data.europa.eu/snb/assessment/25831c2
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="elm-learning-activity-type" type="xs:string">
        <xs:annotation>
            <xs:documentation>
                Learning activity type as defined in the European Learning Model (ELM).

                https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://data.europa.eu/snb/learning-activity/25831c2
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="elm-learning-opportunity-type" type="xs:string">
        <xs:annotation>
            <xs:documentation>
                Learning opportunity type as defined in the European Learning Model (ELM).

                Note: limited to the items in the controlled vocabulary that may apply to courses.

                https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://data.europa.eu/snb/learning-opportunity/25831c2
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="elm-mode-of-learning" type="xs:string">
        <xs:annotation>
            <xs:documentation>
                Mode of learning and assessment as defined in the European Learning Model (ELM).

                https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://data.europa.eu/snb/learning-assessment/25831c2
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="isced-code" type="xs:string">
        <xs:annotation>
            <xs:documentation>
                The ISCED-F code of the course/programme.

                ISCED-F codes define fields of education and training at the secondary,
                post-secondary and tertiary levels of education. Details:
                https://www.uis.unesco.org/Education/Documents/isced-fields-of-education-training-2013.pdf
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="url" type="ewp:HTTPWithOptionalLang">
        <xs:annotation>
            <xs:documentation>
                The URL of the web page with the description.

                The `xml:lang` attribute, if given, SHOULD represent the language of this page.
                Multiple URLs can be provided (with different `xml:lang` values). It is also
                perfectly okay to provide a single URL that dynamically detects the viewer's
                language preferences (in this case, no `xml:lang` attribute should be given).
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:simpleType name="LosID">
        <xs:annotation>
            <xs:documentation>
                Unique local identifier of Learning Opportunity Specification. These IDs take
                a form of a "Type/X" string, where "Type" is a short code of the LOS'es type, and
                "X" is the internal surrogate key of the LOS, as exposed by the owner HEI
                (preferably a UUID, but any other values are also permitted).

                Read a detailed introduction here:
                https://github.com/erasmus-without-paper/ewp-specs-api-courses#unique-identifiers
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="ewp:AsciiPrintableIdentifier">
            <xs:pattern value="CR/(.{1,40})">
                <xs:annotation>
                    <xs:documentation>
                        The actual internal ID of the LOS entity MUST be prefixed with one of the
                        following strings:

                        — "CR/" – if it is a "Course" type LOS.

                        More prefixes MAY be introduced in the future. Clients SHOULD expect that (e.g.
                        they should accept unknown prefixes and behave as if the referenced entity did
                        not exist).
                    </xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>